<body>
    <div class="modal fade in" style="display: block;">
        <div class="modal-dialog">
            <form [formGroup]="myForm" (ngSubmit)="formProcess()">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><i class="fa fa-plus"></i> Create Ticket</h4>
                        <a (click)="closeModelBox()">x</a>
                    </div>
                    <div class="modal-body">
                        <div>Subject
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject"
                                required formControlName='subject'>
                        </div>
                        <div>
                            <label>Department</label>
                            <select id="department" name="department" class="form-control" placeholder="Department..."
                                formControlName='department' required=true>
                                <option value="1">Support</option>
                                <option value="2">Sales</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Message</label>
                            <textarea class="form-control" rows="5" id="message" name="message"
                                formControlName='msg'></textarea>
                        </div>
                        <div class="form-group">
                            <label>Status &nbsp;</label>
                            <label class="radio-inline">
                                <input type="radio" name="status" id="open" value="0" checked="" required=""
                                    formControlName='status'>Open
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="status" id="close" value="1" required=""
                                    formControlName='status'>Close
                            </label>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" name="save" id="save" class="btn btn-info" value="Create Ticket">
                        <a class="btn btn-primary" (click)="closeModelBox()">Close</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>