<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">Ticketing App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active" *ngIf="!loggedin">
          <a class="nav-link" href="login">Login<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active" *ngIf="loggedin">
          <a class="nav-link" href="login" (click)="logout()">Logout <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" *ngIf="loggedin">
        <h4 style="padding: 15px 5px 0px 0px;">Welcome back, {{name}}!</h4>
        <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-search">Search</i></button>
      </form>
    </div>
</nav>