.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-default>.panel-heading {
    /* color: #333; */
    background-color: #f5f5f5;
    border-color: #ddd;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.ticket-title {
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    color: rgb(2, 161, 2);
}